body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #ffffff;
  width: 100%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 1.5em;
  align-items: center;
}

.nav-buttons button {
  background-color: #0277bd;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1em;
}

.nav-buttons .home {
  border: 2px solid #0277bd;
  background-color: transparent;
}
.nav-buttons .about {
  border: 2px solid #0277bd;
  background-color: transparent;
}

main {
  display: flex;
  flex-direction: row;
}

.menu {
  background-color: #e1f5fe;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
}

.menu button {
  background-color: #0277bd;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  font-size: 1em;
}

.menu button:hover {
  background-color: #01579b;
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.recipe-card img {
  width: 100%;
  height: auto;
}

.recipe-card h3 {
  margin: 10px;
  font-size: 1.2em;
}

footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  margin-top: 20px;
}

footer h2 {
  font-size: 2em;
  margin: 0 0 20px 0;
}

footer button {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

footer button:hover {
  background-color: #ffffff;
  color: #333;
}

footer nav {
  margin: 20px 0;
}

footer nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

footer nav a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 0.9em;
  margin-top: 10px;
}
